body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

#cart {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


.cart-item span:last-child {
    width: 100px; 
    text-align: right; 
}


.delete-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#cart-total {
    margin-left: 10px;
    margin-top: 30px;
    font-weight: bold;
}

#shipping-info {
    margin-top: 40px;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 5px;
    margin-right: 80rem;
}

#shipping-info h2 {
    margin: 0;
    font-size: 20px;
}

#shipping-info label {
    display: block;
    margin-top: 10px;
}

#shipping-info input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
   
}

#complete-button, #cancel-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 80px;
}

#complete-button {
    background-color: #28a745; 
}

#complete-button:hover, #cancel-button:hover {
    background-color: #0056b3; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}


th {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    text-align: left;
}


tr:nth-child(odd) {
    background-color: #f9f9f9;
}


.delete-button {
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #e6301c;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: start;
    display: flex;
}

.navbar button{
    border-radius: 10px;
    
}

.logo img {
    
    max-width: 80px;
    height: auto;
}

.back-home{
    
    margin-left: 10px;
    margin-top: 22px;
    
}

.back-home button{
    margin-left: 1700px;
    background-color: #777;
    padding-top: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    
}

.back-home img {
    max-width: 30px;
    height: auto;
}

.back-home button:hover {
    background-color: #0a9c0a;
    box-shadow: 0 0 10px rgba(30, 172, 2, 0.8); 
   
}

