body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/assets/background.jpg');
  background-size: 100% 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;  
}

.login {
  max-width: 500px;
  margin: 100px auto;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.presentation {
  text-align: center;
}

.presentation h1 {
  color: #333;
}

.presentation img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.credentials {
  margin-top: 20px;
  padding: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 20px;
  padding: 30px;
}

.register p {
  margin-bottom: 10px;
  color: white;
}


.register button {
  background-color: #3498db;
  border: none;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login {
      max-width: 600px;
      
  }
  
  
}